{% extends "base.html" %}
{% block external %}
<link rel="stylesheet" type="text/css" href="/site_media/jquery.autocomplete.css">
<script type="text/javascript"
src="/site_media/dimensions.js"> </script>
<script type="text/javascript"
src="/site_media/jquery.bgiframe.min.js"> </script>
<script type="text/javascript"
src="/site_media/jquery.autocomplete.js"> </script>
<script type="text/javascript"
src="/site_media/tag_autocomplete.js"> </script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
{% endblock%}
{% block title %}Save Bookmark{% endblock %}
{% block head %}Save Bookmark{% endblock %}
{% block content %}
<form method="post" action=".">
{% csrf_token %}
{% include 'bookmark_save_form.html' %}
{% endblock %}